@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

html,
body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.search {
  @apply bg-white shadow-none rounded-md p-2 text-sm !important;
}

body {
  @apply !min-w-full;
}

html {
  overflow-y: scroll;
}

.card {
  @apply bg-white shadow-md rounded-lg p-4;
}

a {
  @apply text-blue-900 underline cursor-pointer font-semibold active:text-blue-300;
}

.btn {
  @apply bg-blue-900 text-white;
}

Button {
  @apply bg-blue-900 text-white !important;
}

input {
  @apply bg-white  !important;
}

Input {
  @apply bg-white  !important;
}

input {
  @apply bg-white  border rounded-md p-1 shadow  text-black !important;
}

/* Form {
  @apply bg-white rounded-lg p-4 border-2 md:w-96;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
